/* navbar */
.navbar {
  background-color: #02193e;
}

.nav-logo {
  display: flex;
  flex-direction: row;
}

.nav-logo img {
  width: 3rem;
}

.nav-logo h1 {
  margin-top: 0.7rem;
  margin-left: 0.5rem;
  font-size: large;
  color: white;
  text-decoration: none !important;
}

.nav-item-covid a,
.nav-item-all a,
.nav-item-user a {
  color: white;
}

.search-bar {
  margin-top: 0.1rem;
}

/* video-list */
.list-group {
  align-items: center;
}

/* video-card */

.card {
  width: 75%;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card-title {
  margin-top: 0.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card-text {
  margin-left: 1rem;
  margin-right: 1rem;
}

.card-date {
  margin-bottom: 1rem;
}

@media (max-width: 375px) {
  .card {
    width: 20rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .card-horizontal {
    display: flex;
    flex-direction: column;
  }
  .img-square-wrapper {
    width: 20rem;
  }
}
